

<div class="bg">
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color:rgb(10, 87, 131);">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
             <li style="font-size:25px;color:palevioletred;"> Poolcarz</li>
            </ul>
        </div>
    </nav>
    
  <!--  <div *ngIf="!submitted"> -->
    
   <!-- </div> -->
 
  
         
            
<footer class="footer">
      <div class="txtcolor">
        <span class="footertxtpos">Copyright
          &copy; UI & Markup Team, Infosys Limited</span>
      </div>
    </footer>
</div>

<router-outlet></router-outlet>
