

.footertxtpos{
    position: relative; 
    top: 20px; 
    left: 520px;
}

.footer{
    bottom:0px;
    position: absolute;
    height: 50px;
    width: 100%;
}



/*.bg{
    
    background-image: url("../assets/images/carpool.png");
    background-repeat: no-repeat;
    background-size:100%;
    min-height: 660px; 
    
}*/